{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">

    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>

<body class="font-['Poppins']">
    <header class="text-black font-medium h-1">
        <!-- NAVBAR -->
    </header>
    <main>
        <div class="mx-auto max-w-md p-4 bg-white rounded shadow-md">
            <h1 class="mt-[100px] text-black">Create Task</h1>

            {% if error %}
                <p class="text-red-500">{{ error }}</p>
            {% endif %}

            <form action="/tasks/create/" method="POST" class="space-y-4">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_title" class="block text-sm font-medium text-gray-700">Title:</label>
                    {{ form.title }}
                </div>

                <div class="form-group">
                    <label for="id_description" class="block text-sm font-medium text-gray-700">Description:</label>
                    {{ form.description }}
                </div>

                <div class="form-group">
                    <label for="id_paid_vacation" class="block text-sm font-medium text-gray-700">Vacaciones Pagas:</label>
                    {{ form.paid_vacation }}
                </div>

                <div class="form-group">
                    <label for="id_date_range" class="block text-sm font-medium text-gray-700">Rango de Fechas:</label>
                    <input type="text" id="id_date_range" name="date_range" class="form-control">
                </div>

                <button type="submit" class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    Save
                </button>
            </form>
        </div>

        <!-- Flatpickr JS -->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                flatpickr('#id_date_range', {
                    mode: 'range',
                    dateFormat: 'Y-m-d',
                    locale: {
                        rangeSeparator: ' to ',
                    }
                });
            });
        </script>
    </main>
</body>

</html>
{% endblock %}
