{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nihil ea recusandae quam harum inventore, officiis rem nemo enim atque libero corporis. Fuga hic delectus molestias maiores consequatur qui explicabo nemo at, id voluptatem possimus iure repudiandae dolor ex aliquid? Eos, qui voluptatibus error tempore perferendis voluptatem, modi rem iure, sapiente temporibus dolore ut placeat dicta laborum culpa. Magni placeat temporibus molestiae, optio a beatae nulla ex saepe deleniti libero mollitia architecto? Facere, perspiciatis! Sequi perferendis earum repudiandae. Provident, rem aliquam. Ad provident perspiciatis earum architecto nostrum odio, voluptatum est quibusdam laborum tenetur blanditiis autem facilis ducimus molestiae veniam illo?</p>
{% endblock %}