{% extends 'base.html' %}


{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>

<body class=" font-['Poppins'] ">


    <header class="text-black font-medium h-1 ">

        <!-- NAVBAR--> 

    </header>
    <main>         
      <div class="text-black w-full h-screen min-[1024px]:h-full min-[300px]:max-[1023px]:h-full mb-8">
          <!-- Section: Header -->
          <section class="grid items-center gap-12 lg:grid-cols-2 mb-32 relative flex flex-col mb-[-3%] max-lg:pt-1 ">          
              <div class="h-full min-lg:pt-24 px-6 text-center md:px-12 lg:text-left min-[300px]:max-[1122px]:w-full min-[300px]:max-[1122px]:px-0">
                <div class="min-sm:max-[1125px]:px-24">
                  <div class="min-[300px]:max-[1180px]:mx-5 min-[300px]:max-[1023px]:pt-12 mx-16">
                    <h1 class="mb-5 text-5xl font-bold tracking-tight text-black mt-24 min-[300px]:max-[1023px]:mt-12">
                      En Ausentsoft creemos en las compañías que impulsan el talento dentro de sus<span class="text-[hsl(218,81%,75%)]"> filas.</span>
                    </h1>
                    <p class="text-black text-xl mb-12">
                      En Ausentsoft entendemos que convertir un negocio en una excelente empresa requiere brindar apoyo, herramientas 
                      y oportunidades de desarrollo a las personas. Es por eso que nos dedicamos a proporcionarlo.
                    </p>
                  </div>
                </div>
              </div>
              <div class="bg-black h-full min-[300px]:max-[1023px]:h-2 hidden lg:block">
                <img src="https://media.istockphoto.com/id/587506840/es/foto/son-un-equipo-de-m%C3%A1s-de-logros.jpg?s=612x612&w=0&k=20&c=1gXPk52E7CTX8ZY0WdTAk_ImiT85v9dUhyYzbhiOmas=" alt="" class="w-full h-full">
              </div>
          </section>
          <!-- Section: Fin Header -->
      </div>
    
      <div class="w-full bg-gray-200 my-10 mx-auto md:px-6 pt-16 min-[300px]:max-[1023px]:pt-10">
          <!-- Section: Comprometidos contigo -->
          <section class="mb-24 text-center">
            <h2 class="mb-5 text-center text-4xl font-bold mx-24 min-[300px]:max-[1023px]:mx-0 min-[300px]:max-[500px]:text-3xl">Comprometidos con tu crecimiento empresarial</h2>
            <p class="text-xl mx-12">Continuamos expandiendo nuestro equipo para ofrecerte innovación y excelencia.</p>
            <div class="grid gap-x-6 md:grid-cols-3 lg:gap-x-12">
              <div class="mt-8 mb-4 md:mb-0">
                <h2 class="display-5 mb-4 text-4xl font-bold text-primary dark:text-primary-400 min-[300px]:max-[768px]:text-2xl">
                  +500 Empresas
                </h2>
                <h5 class=""></h5>
                <p class="mb-4 text-lg min-[546px]:max-[767px]:mx-32  min-[300px]:max-[546px]:mx-10">
                  Son las que han elegido nuestro software para administrar la gestion del tiempo de
                  sus empleados 
                </p>
              </div>

              <div class="mt-8 mb-4 md:mb-0 min-[300px]:max-[767px]:mt-2">
                <h2 class="display-5 mb-4 text-4xl font-bold text-primary dark:text-primary-400 min-[300px]:max-[768px]:text-2xl">
                  Soporte 24/7
                </h2>
                <p class="mb-4 text-lg min-[546px]:max-[767px]:mx-32  min-[300px]:max-[546px]:mx-10">
                  Ofrecemos asistencia técnica en todo momento para resolver cualquier consulta o problema
                </p>
              </div>

              <div class="mt-8 mb-4 md:mb-0 min-[300px]:max-[767px]:mt-2">
                <h2 class="display-5 mb-4 text-4xl font-bold text-primary dark:text-primary-400 min-[300px]:max-[768px]:text-2xl">
                  +10 años
                </h2>
                <p class="mb-4 text-lg min-[546px]:max-[767px]:mx-32  min-[300px]:max-[546px]:mx-10">
                  Nuestra plataforma se ha mantenido por mas de 10 años en el mercado llevando soluciones
                  a diveras empresas
                </p>
              </div>
            </div>
          </section>
          <!-- Section: Fin Comprometidos contigo -->
      </div>
        
        
      <div class="container my-24 mx-auto md:px-16">
          <!-- Section: Porque somos como tu -->
          <section class="mb-32 max-sm:m-5">
            <div class="block rounded-lg bg-white">
              <div class="flex flex-wrap items-center mx-12 min-[300px]:max-[1023px]:mx-0">
                <div class="hidden shrink-0 grow-0 basis-auto lg:flex lg:w-5/12 xl:w-4/12">
                  <img src="../img/Meet.jpg" alt="Trendy Pants and Shoes" class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
                </div>
                <div class="w-full shrink-0 grow-0 basis-auto lg:w-7/12 xl:w-8/12">
                  <div class="py-12 md:px-12">
                    <h2 class="mb-4 text-3xl font-bold min-[300px]:max-[1023px]:text-center">
                      Entendemos tus desafíos, porque los enfrentamos nosotros mismos.
                    </h2>
                    <p class="mb-6 min-[300px]:max-[1023px]:text-center">
                      En un mundo empresarial cada vez más dinámico y competitivo, la gestión eficaz del tiempo se ha convertido 
                      en una prioridad para las empresas. Ante esta creciente necesidad, un grupo de emprendedores visionarios, 
                      liderados por Jasnier, Kevin y Juan, decidieron unir sus talentos y experiencias para crear una solución innovadora. 
                      Así nació Ausentsoft en 2024, con la misión de simplificar la gestión de vacaciones y permisos para empresas de 
                      todos los tamaños. Con un enfoque centrado en la usabilidad y la eficiencia, Nuestro objetivo es brindar una 
                      plataforma intuitiva y completa que le permita a las empresas optimizar sus procesos de recursos humanos y liberar 
                      tiempo para actividades más estratégicas.
                  </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Section: Fin Porque somos como tu -->
      </div>

  
      <div class="container my-24 mx-auto md:px-6">
          <!-- Section: Bloque nuestros valores -->
          <section class="mb-32 text-center">
            <h2 class="mb-20 text-3xl font-bold">Nuestros valores hacen parte de nuestra escencia</h2>
            <div class="grid lg:grid-cols-3 lg:gap-x-12">
              <div class="mb-12 lg:mb-0">
                <div
                  class="block h-full rounded-lg bg-sky-200 min-[300px]:max-[546px]:mx-10 min-[547px]:max-[1023px]:mx-32">
                  <div class="flex justify-center">
                    <div class="-mt-8 inline-block rounded-full bg-white p-4 text-primary border border-black">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="h-7 w-7">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
                      </svg>
                    </div>
                  </div>
                  <div class="p-6">
                    <h5 class="mb-4 text-lg font-semibold">Excelencia</h5>
                    <p>
                      Buscamos la excelencia en todo lo que hacemos, desde el desarrollo de nuestra plataforma hasta la
                      atención al cliente, con el objetivo de superar las expectativas en cada interacción.
                    </p>
                  </div>
                </div>
              </div>

              <div class="mb-12 lg:mb-0">
                <div
                  class="block h-full rounded-lg bg-sky-200 min-[300px]:max-[546px]:mx-10 min-[547px]:max-[1023px]:mx-32">
                  <div class="flex justify-center">
                    <div class="-mt-8 inline-block rounded-full bg-white p-4 text-primary border border-black">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="h-7 w-7">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
                      </svg>
                    </div>
                  </div>
                  <div class="p-6">
                    <h5 class="mb-4 text-lg font-semibold">Eficiencia</h5>
                    <p>
                      Nos esforzamos por ofrecer soluciones rápidas y efectivas para simplificar la gestión de vacaciones y permisos, 
                      maximizando la productividad de nuestros clientes.
                    </p>
                  </div>
                </div>
              </div>

              <div class="">
                <div
                  class="block h-full rounded-lg bg-sky-200 min-[300px]:max-[546px]:mx-10 min-[547px]:max-[1023px]:mx-32">
                  <div class="flex justify-center">
                    <div class="-mt-8 inline-block rounded-full bg-white p-4 text-primary border border-black">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="h-7 w-7">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
                      </svg>
                    </div>
                  </div>
                  <div class="p-6">
                    <h5 class="mb-4 text-lg font-semibold">Pasion</h5>
                    <p>
                      Nos apasiona lo que hacemos y nos esforzamos por transmitir esa pasión en cada interacción con nuestros clientes, 
                      buscando inspirar y motivar a través de nuestro trabajo.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid lg:grid-cols-2 lg:gap-x-12 mt-12">
              <div class="mb-12 lg:mb-0">
                <div
                  class="block h-full rounded-lg bg-sky-200 min-[300px]:max-[546px]:mx-10 min-[547px]:max-[1023px]:mx-32">
                  <div class="flex justify-center">
                    <div class="-mt-8 inline-block rounded-full bg-white p-4 text-primary border border-black">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="h-7 w-7">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
                      </svg>
                    </div>
                  </div>
                  <div class="p-6">
                    <h5 class="mb-4 text-lg font-semibold">Innovación</h5>
                    <p>
                      La innovación es el motor de nuestro crecimiento y éxito continuo. Nos esforzamos por fomentar una cultura de creatividad 
                      y experimentación, buscando constantemente nuevas formas de mejorar nuestros productos y servicios, y de anticiparnos a las 
                      necesidades cambiantes de nuestros clientes y del mercado.
                    </p>
                  </div>
                </div>
              </div>

              <div class="">
                <div
                  class="block h-full rounded-lg bg-sky-200 min-[300px]:max-[546px]:mx-10 min-[547px]:max-[1023px]:mx-32">
                  <div class="flex justify-center">
                    <div class="-mt-8 inline-block rounded-full bg-white p-4 text-primary border border-black">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="h-7 w-7">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
                      </svg>
                    </div>
                  </div>
                  <div class="p-6">
                    <h5 class="mb-4 text-lg font-semibold">Confianza</h5>
                    <p>
                      La confianza es la base de todas nuestras relaciones, tanto internas como externas. Nos esforzamos por construir y mantener 
                      la confianza de nuestros clientes, colegas y socios a través de la transparencia, la integridad y la consistencia en todas 
                      nuestras acciones y decisiones.
                    </p>
                  </div>
                </div>
              </div>
            </div>
           
          </section>
          <!-- Section: Fin Bloque Nuestros valores -->
      </div>
        
      <div class="mt-24 mx-auto md:px-6 bg-neutral-900 pt-24 h-full">
        <h2 class="mb-12 text-center text-6xl font-bold min-[300px]:max-[1023px]:mb-2 text-white">Unete a nosotros</h2>
        <!-- Section: Design Block -->
        <section class="mb-12 text-center lg:text-left">
          <div class="px-6 md:px-12">
            <div class="flex grid items-center gap-12 lg:grid-cols-2">
              <div class="mt-12 lg:mt-0">
                <h1 class="mb-6 text-5xl font-bold leading-tight tracking-tight text-white">
                  Si tienes dudas</span>
                </h1>
                <p class="text-xl font-light text-neutral-200">
                  Te damos unos días GRATIS para que pruebes nuestro software de Recursos Humanos, descubre lo fácil que 
                  puede ser la gestión de turnos, vacaciones, horas extra y ausencias, entre otras funciones más.
                </p>
              </div>
              <div>
                <div class="py-12 min-[300px]:max-[1023px]:py-2">
                  <div class="container mx-auto">
                    <div class="grid items-center">
                      <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
                        <div class="relative z-[1] block rounded-lg px-6 py-12 backdrop-blur-[25px] bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 min-[300px]:max-[767px]:py-6">
                          <h6 class="text-2xl font-light mb-9 mt-4">
                            <img src="../img/Logo-Blanco.png" alt="" srcset="">
                          </h6>
                          <div class="mb-6 flex-row md:mb-0 md:flex">
                            <div class="relative mb-3 w-full md:mr-3 md:mb-0" data-te-input-wrapper-init>
                              <input type="text"
                                class="peer border hover:border-cyan-500 block min-h-[auto] w-full rounded  bg-transparent py-[0.32rem] px-3 leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                                id="exampleFormControlInput2" placeholder="Enter your email" onfocus="clearPlaceholder(this)"  onblur="restorePlaceholder(this)"/>
                              <label for="exampleFormControlInput2"
                                class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">Enter
                                your email
                              </label>
                            </div>
                            <button type="submit"
                              class="inline-block rounded bg-danger px-7 pt-3 pb-2.5 text-sm font-medium uppercase leading-normal text-white transition duration-150 hover:bg-cyan-500 border border-cyan-400"
                              data-te-ripple-init data-te-ripple-color="light">
                              Enviar
                            </button>
                          </div>
                          <p class="text-neutral-400 dark:text-neutral-300 mt-2"><small class="text-muted">
                              Al suscribirte, aceptas recibir la información comercial del administrador de datos de AusentSoft
                              </small>
                          </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>

        <div class="bg-neutral-900 mx-auto md:px-6 pb-2">
          <!-- Section: Redes Sociales -->
          <section class="mb-32 text-center md:text-left min-[300px]:max-[767px]:mb-12">
          <div class="flex flex-wrap justify-center">
            <div class="w-full shrink-0 grow-0 basis-auto px-3 lg:w-10/12">
              <div class="grid items-center gap-x-6 md:grid-cols-2">
                <div class="mb-6 md:mb-0">
                  <h2 class="text-3xl font-bold">
                    Para mas informacion
                    <br />
                    <span class="text-primary dark:text-primary-400">Visita nuestras redes sociales</span>
                  </h2>
                </div>
      
                <div class="mb-52 md:mb-0 md:ml-auto min-[300px]:max-[767px]:mb-12">
                  <!-- Facebook -->
                  <button type="button" data-te-ripple-init data-te-ripple-color="light"
                    class="mb-2 inline-block rounded-full bg-[#1877f2] p-3 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="h-4 w-4">
                      <path fill="currentColor"
                        d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
                    </svg>
                  </button>
      
                  <!-- Twitter -->
                  <button type="button" data-te-ripple-init data-te-ripple-color="light"
                    class="mb-2 inline-block rounded-full bg-[#1da1f2] p-3 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-4 w-4">
                      <path fill="currentColor"
                        d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
                    </svg>
                  </button>
      

      
                  <!-- Linkedin -->
                  <button type="button" data-te-ripple-init data-te-ripple-color="light"
                    class="mb-2 inline-block rounded-full bg-[#0077b5] p-3 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="h-4 w-4">
                      <path fill="currentColor"
                        d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          </section>
          <!-- Section: Fin Redes Sociales -->
      </div>
        <!-- Section: Design Block -->
      </div>



    </main>

    

    <footer class="bg-neutral-900 border-t border-gray-200">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                    <a href="#" class="flex items-center">
                        <img class="logo" src="/img/Logo-negro.png" class="h-8 me-3" alt="AusentSoft Logo" />
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase text-white">Resources
                        </h2>
                        <ul class="text-gray-600 dark:text-gray-600 font-medium">
                            <li class="mb-4">
                                <a href="https://flowbite.com/" class="hover:underline">Flowbit</a>
                            </li>
                            <li>
                                <a href="https://tailwindcss.com/" class="hover:underline">Tailwind CSS</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase text-white">Follow us
                        </h2>
                        <ul class="text-gray-500 dark:text-gray-600 font-medium">
                            <li class="mb-4">
                                <a href="https://github.com/themesberg/flowbite" class="hover:underline ">Github</a>
                            </li>
                            <li>
                                <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Discord</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase text-white">Legal</h2>
                        <ul class="text-gray-500 dark:text-gray-600 font-medium">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-12 sm:flex sm:items-center sm:justify-between">
                <span class="text-sm text-gray-500 sm:text-center text-white">© 2024 <a
                        href="https://flowbite.com/" class="hover:underline">AusentSoft</a>. All Rights Reserved.
                </span>
                <div class="flex mt-4 sm:justify-center sm:mt-0">
                    <a href="#" class="text-black hover:text-gray-900 dark:hover:text-white">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 8 19">
                            <path fill-rule="evenodd"
                                d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Facebook page</span>
                    </a>
                    <a href="#" class="text-black hover:text-gray-900 dark:hover:text-white ms-5">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 21 16">
                            <path
                                d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z" />
                        </svg>
                        <span class="sr-only">Discord community</span>
                    </a>
                    <a href="#" class="text-black hover:text-gray-900 dark:hover:text-white ms-5">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 17">
                            <path fill-rule="evenodd"
                                d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Twitter page</span>
                    </a>
                    <a href="#" class="text-black hover:text-gray-900 dark:hover:text-white ms-5">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">GitHub account</span>
                    </a>
                    <a href="#" class="text-black hover:text-gray-900 dark:hover:text-white ms-5">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M10 0a10 10 0 1 0 10 10A10.009 10.009 0 0 0 10 0Zm6.613 4.614a8.523 8.523 0 0 1 1.93 5.32 20.094 20.094 0 0 0-5.949-.274c-.059-.149-.122-.292-.184-.441a23.879 23.879 0 0 0-.566-1.239 11.41 11.41 0 0 0 4.769-3.366ZM8 1.707a8.821 8.821 0 0 1 2-.238 8.5 8.5 0 0 1 5.664 2.152 9.608 9.608 0 0 1-4.476 3.087A45.758 45.758 0 0 0 8 1.707ZM1.642 8.262a8.57 8.57 0 0 1 4.73-5.981A53.998 53.998 0 0 1 9.54 7.222a32.078 32.078 0 0 1-7.9 1.04h.002Zm2.01 7.46a8.51 8.51 0 0 1-2.2-5.707v-.262a31.64 31.64 0 0 0 8.777-1.219c.243.477.477.964.692 1.449-.114.032-.227.067-.336.1a13.569 13.569 0 0 0-6.942 5.636l.009.003ZM10 18.556a8.508 8.508 0 0 1-5.243-1.8 11.717 11.717 0 0 1 6.7-5.332.509.509 0 0 1 .055-.02 35.65 35.65 0 0 1 1.819 6.476 8.476 8.476 0 0 1-3.331.676Zm4.772-1.462A37.232 37.232 0 0 0 13.113 11a12.513 12.513 0 0 1 5.321.364 8.56 8.56 0 0 1-3.66 5.73h-.002Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="sr-only">Dribbble account</span>
                    </a>
                </div>
            </div>
        </div>
    </footer>

</body>

<script>
    function Menu(e) {

        let list = document.querySelector('ul');
        e.name === 'menu' ? (e.name = 'close',
            list.classList.add("top-[20px]"), list.classList.add("opacity-100")) : (e.name = 'menu'
                , list.classList.remove("top-[20px]"), list.classList.remove("opacity-100"))
    }



    function Registrar(){
        window.location.href = "./login.html"
    }


    function clearPlaceholder(input) {
    input.setAttribute('placeholder', '');
    input.nextElementSibling.style.display = 'none';
}

function restorePlaceholder(input) {
    if (input.value === '') {
        input.setAttribute('placeholder', 'Enter your email');
        input.nextElementSibling.style.display = 'block';
    }
}




</script>
</html>



{% endblock %}






