{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body class="font-['Poppins']">
    <header class="text-black font-medium h-1">
        <!-- NAVBAR-->
    </header>

    <main class="flex">

        <div class="flex-1 p-10 mt-[100px]">
            <h1 class="text-2xl font-bold mb-4">Tus Permisos</h1>

            <ul>
                {% for task in tasks %}
                    <li class="border-b p-4 bg-gray-100 border border-gray-300 rounded-md my-4 hover:text-sky-500">
                        <span class="relative group cursor-pointer">
                            <a href="{% url 'task_detail' task.id %}">
                                <h2 class="text-lg font-semibold">{{ task.title }}</h2>
                                <p>Motivo de solicitud: {{ task.description }}</p>
                                <p>Creada el dia: {{ task.created_at }}</p>
                                <p>Ultima actualizacion: {{ task.updated_at }}</p>
                                <p>Vacaciones Pagas: {{ task.paid_vacation }}</p>
                                <p>Dias solicitados: {{ task.date_range }}</p>
                                <span class="absolute left-0 -top-6 bg-gray-800 text-white text-sm font-bold py-1 px-2 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-300">Editar</span>
                            </a>
                        </span>
                        <form action="{% url 'complete_task' task.id %}" method="POST" class="inline">
                            {% csrf_token %}
                            <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded my-2">Complete</button>
                        </form>
                        <form action="{% url 'delete_task' task.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded">Delete</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
</body>
</html>
{% endblock %}
